.row {
  margin-bottom: $margin-small;
}

.form-group {
  width: 100%;
}

ul li {
  text-indent: 0;
}

ul li::before {
  content: none;
}

a {
  background-image: none;
}

.tabs input[id="tab6"]:checked ~ div[id="content6"] {
  display: block;
}
.tabs input[id="tab7"]:checked ~ div[id="content7"] {
  display: block;
}
.tabs input[id="tab8"]:checked ~ div[id="content8"] {
  display: block;
}
.tabs input[id="tab9"]:checked ~ div[id="content9"] {
  display: block;
}
.tabs input[id="tab10"]:checked ~ div[id="content10"] {
  display: block;
}
.tabs input[id="tab11"]:checked ~ div[id="content11"] {
  display: block;
}
.tabs input[id="tab12"]:checked ~ div[id="content12"] {
  display: block;
}
