@import "../../../../node_modules/papercss/dist/paper.min.css";
@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
.row {
  margin-bottom: 5px;
}

.form-group {
  width: 100%;
}

ul li {
  text-indent: 0;
}

ul li::before {
  content: none;
}

a {
  background-image: none;
}

.tabs input[id=tab6]:checked ~ div[id=content6] {
  display: block;
}

.tabs input[id=tab7]:checked ~ div[id=content7] {
  display: block;
}

.tabs input[id=tab8]:checked ~ div[id=content8] {
  display: block;
}

.tabs input[id=tab9]:checked ~ div[id=content9] {
  display: block;
}

.tabs input[id=tab10]:checked ~ div[id=content10] {
  display: block;
}

.tabs input[id=tab11]:checked ~ div[id=content11] {
  display: block;
}

.tabs input[id=tab12]:checked ~ div[id=content12] {
  display: block;
}

.main {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.splash .btn {
  margin-top: 10px;
}
.splash .form-group {
  margin-top: 10px;
}

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
}

.col {
  padding: 0.25rem;
}

.form-group {
  margin-bottom: 0;
}
.form-group .input {
  display: block;
}
.modal-open {
  cursor: pointer;
}

.full-modal {
  position: absolute;
}
.full-modal .full-modal-body {
  width: 100%;
  transform: none;
  left: initial;
  top: initial !important;
  margin-top: 65px;
}

.full-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.character-list {
  list-style-type: none;
}

.character-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.character-list__name {
  padding: 20px;
  width: 100%;
}

.character-list__delete {
  display: flex;
  margin: 5px 20px;
}

.character-list__new {
  display: flex;
  margin: 5px 20px;
}

input[disabled] {
  cursor: auto;
}

.icon-edit {
  margin: 5px;
  font-size: 0.75rem;
  cursor: pointer;
}

.ability {
  margin-bottom: 5px;
}

.ability__value {
  display: flex;
}
.ability__value input {
  max-width: 50%;
}

.char-info__edit-input {
  display: flex;
  flex-direction: row;
}

.race-modal__content {
  width: 100%;
}

.race-modal__subraces {
  display: flex;
}

.race-modal__subrace-content {
  display: none;
  width: 100%;
}

.race-modal__subraces input[id=race-modal__subrace-tab1]:checked ~ div[id=race-modal__subrace-content1] {
  display: block;
}

.race-modal__subraces input[id=race-modal__subrace-tab2]:checked ~ div[id=race-modal__subrace-content2] {
  display: block;
}

.race-modal__subraces input[id=race-modal__subrace-tab3]:checked ~ div[id=race-modal__subrace-content3] {
  display: block;
}

.race-modal__subraces input[id=race-modal__subrace-tab4]:checked ~ div[id=race-modal__subrace-content4] {
  display: block;
}

.race-modal__subraces input[id=race-modal__subrace-tab5]:checked ~ div[id=race-modal__subrace-content5] {
  display: block;
}

.race-modal__subraces input[id=race-modal__subrace-tab6]:checked ~ div[id=race-modal__subrace-content6] {
  display: block;
}

/*# sourceMappingURL=index.css.map */
