.full-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.full-modal-body {
  width: 100%;
  max-height: 90%;
  max-width: $max-page-width;
  overflow: auto;
}

.full-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark-gray;
  opacity: 0.8;
}
